.header {
  background-image: url("../public/home_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.header_text {
  z-index: 1;
  margin: 100px auto !important;
  text-align: center;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.6;
}

.masonry_grid {
  display: flex;
  margin-left: -30px;
  width: auto;
}
.masonry_grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}